<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>@ViewBag.PersonalDescriptionTitle</h2>
<p>@ViewBag.PersonalDescription</p>
<p>@ViewBag.MyProgramingsSkills</p>

<h2>@ViewBag.WebbsiteDescriptionTitle</h2>
<p>@ViewBag.WebbsiteDescription</p>
