
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    @ViewBag.Adress<br />
    <abbr title="Phone">@ViewBag.Phone</abbr>
</address>

<address>
    <strong>Linkedin:</strong>   <a href=@ViewBag.LindedinAdress>@ViewBag.LindedinAdresslinktext</a><br />
    <strong>Wordpress/Blogg:</strong>   <a href=@ViewBag.WordPress>@ViewBag.WordPressLinktext</a><br />
    <strong>Facebook:</strong> <a href=@ViewBag.Facebook>@ViewBag.FacebookLinktext</a>
</address>