
<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">@ViewBag.IntroduktionText</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@ViewBag.DescriptionTitle</h2>
        <p>@ViewBag.Description</p>
    </div>

    <div class="col-md-4">
        <h2>@ViewBag.SecondParagrafpTxtDescription</h2>
        <p>@ViewBag.SecondParagrafpTxt;</p>
    </div>

    <div class="col-md-4">
        <h2>User LoginStatus</h2>
        <h4>@ViewBag.loginUserName</h4>
        <p>@ViewBag.Logdin</p>
        <p>@ViewBag.Email</p>
        <p>@ViewBag.isAdmin </p>
    </div>
</div>