@model IEnumerable<Joachim_Hemsida.Models.ProgSkillsModell>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.skill)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.skillLvl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.obtaintdFrom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.skill)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.skillLvl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.obtaintdFrom)
        </td>
    </tr>
}

</table>
