
@{
    ViewBag.Title = "Links and Description of games i made";
}

<h2>ViewBag.Title</h2>
<p>viewBag.MessageOfTheMonth </p> <!--> Message of the month</-->

<div class="row">
    <div class="col-md-4">
        <h2>@ViewBag.ReturnToCastleZombieTitle</h2>
        <p>@ViewBag.ReturnToCastleZombieLink</p>
    </div>

    <div class="col-md-4">
        <h2>@ViewBag.TreeInRowTitle</h2>
        <p>@ViewBag.TreeInRowLink;</p>
    </div>

    <div class="col-md-4">
        <h2>@ViewBag.TbcTitle</h2>
        <p>@ViewBag.TbcLink ;</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@ViewBag.TbcTitlee</h2>
        <p>@ViewBag.TbcLink </p>
    </div>

    <div class="col-md-4">
        <h2>@ViewBag.TbcTitle</h2>
        <p>@ViewBag.TbcLink ;</p>
    </div>

    <div class="col-md-4">
        <h2>@ViewBag.TbcTitle</h2>
        <p>@ViewBag.TbcLink ;</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@ViewBag.TbcTitle</h2>
        <p>@ViewBag.TbcLink </p>
    </div>

    <div class="col-md-4">
        <h2>@ViewBag.TbcTitle</h2>
        <p>@ViewBag.TbcLink ;</p>
    </div>

    <div class="col-md-4">
        <h2>@ViewBag.TbcTitle</h2>
        <p>@ViewBag.TbcLink ;</p>
    </div>
</div>